<header class='app-header'>
  <div class='app-header-acme'>
    ACME
  </div>
  <div class='app-header-financial'>
    Financial
  </div>
</header>

<form ng-submit='save()'>
  <input type="text" placeholder="First Name" ng-model="user.name.first">
  <input type="text" placeholder="Last Name" ng-model="user.name.last">
  <input type="text" placeholder="Age" ng-model="user.age">
  <input type="text" placeholder="Eye Color" ng-model="user.eyeColor">
  <input type="text" placeholder="Company" ng-model="user.company">
  <input type="text" placeholder="Email" ng-model="user.email">
  <input type="text" placeholder="Phone" ng-model="user.phone">
  <textarea placeholder="Address" ng-model="user.address"></textarea>
  <button type="submit">Save</button>
</form>
