$hdrbg: #0246a6;
$bgdbg: #ebebeb;
$btnbg: #3498db;
$break-large: 1024px;

body{
  box-sizing: border-box;
  background-color: $bgdbg;
//----------------login page-----------------------//
  .acme-logo{
    width: 65%;
    margin: 5% 0 2% 17.5%;
    @media screen and (min-width: $break-large) {
      width: 20%;
      margin: 1% 0 1% 40%;
    }
  }
  .login-label{
    display: block;
    font-size: 2.5em;
    font-family: 'garamond', sans-serif;
    font-weight: bold;
    margin: 3% 20% 1% 20%;
    @media screen and (min-width: $break-large) {
      font-size: 1.5em;
      margin: 2% 0 .5% 25%;
    }
  }
  #user-email{
    font-size: 2.5em;
    margin: 0 20%;
    width: 60%;
    line-height: 1.5em;
    @media screen and (min-width: $break-large) {
      font-size: 2em;
      margin: 0 25%;
      width: 50%;
    }
  }
  #user-pass{
    font-size: 2.5em;
    margin: 0 20%;
    width: 60%;
    line-height: 1.5em;
    @media screen and (min-width: $break-large) {
      font-size: 2em;
      margin: 0 25%;
      width: 50%;
    }
  }
  .submit-btn{
    font-size: 2.5em;
    display: block;
    background-color: $btnbg;
    color: white;
    padding: 2.5% 24.5%;
    margin: 6% 0 5% 20%;
    border-radius: .3em;
    cursor: pointer;
    @media screen and (min-width: $break-large) {
      font-size: 2em;
      margin: 4% 0 0 25%;
      padding: 2.5% 22%;
    }
  }
//------------------------header styling----------------//
  header{
    background-color: $hdrbg;
    width: 100%;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 5em;
    height: 12.5%;
    @media screen and (min-width: $break-large) {
      font-size: 2em;
    }

    .app-header-acme{
      background-color: black;
      width: 30%;
      margin: 1% 0 0 35%;
      padding: 1% 0;
      border: solid thin white;
      @media screen and (min-width: $break-large) {
        width: 15%;
        margin: 1% 0 0 42.5%;
        padding: 0;

      }
    }
    .app-header-financial{
      font-size: .6em;
    }
  }

//--------------------profile page styling-------------//
  .main-body{
    position: absolute;
    top: 12.5%;
    font-size: 2.5em;
    font-family: 'garmond', sans-serif;
    font-weight: bold;
    width: 100%;
    @media screen and (min-width: $break-large) {
      font-size: 1em;
    }
    .profile-welcome{
      line-height: 3.5em;
      margin: 0 0 0 2%;
      .logout{
        float: right;
        font-size: .75em;
        margin: 0 2% 0 0;
        cursor: pointer;
      }
    }
    .profile-balance{
      width: 100%;
      text-align: center;
      border-top: dotted 3px black;
      border-bottom: dotted 3px black;
      padding: 5% 0;
      width: 98%;
      margin: 0 0 0 .5%;
      @media screen and (min-width: $break-large) {
        padding: 1% 0;
      }
    }
    .profile-personal-info{
      // border: solid thin black;
      margin: 2%;
      .profile-pic{
        width: 30%;
        display: inline-block;
        border-radius: 1.5em;
        @media screen and (min-width: $break-large) {
          width: 15%;
          display: block;
          margin: 0 0 0 42.5%;
        }
      }
      .profile-info-wrapper{
        width: 69%;
        // border: solid thin black;
        display: inline-block;
        float: right;
        @media screen and (min-width: $break-large) {
          display: block;
          float: none;
          width: 100%;
        }
        .profile-info-text{
          display: block;
          padding: 4% 2%;
          @media screen and (min-width: $break-large) {
            display: inline-block;
            width: 31%;
            padding: 1% 0;
            text-align: center;
          }
        }
      }
    }
    .profile-bottom-info{
      margin: 5% 2%;
      @media screen and (min-width: $break-large) {
        display: inline-block;
        width: 25%;
        text-align: center;
        .break-me{
          display: block;
        }
      }
    }
    .profile-submit-btn{
      width: 95%;
      left: 2.5%;
      background-color: $btnbg;
      text-align: center;
      font-size: 1em;
      color: white;
      padding: 2% 0;
      position: fixed;
      bottom: 3%;
      border-radius: .3em;
      cursor: pointer;
        @media screen and (min-width: $break-large) {
          padding: .5% 0;
          width: 96%;
        }
    }

//------------------------edit info styling---------------------//
    .edit-wrap-full{
      width: 100%;
      // border: solid thin black;
      margin: 2% 0 0 0;
      @media screen and (min-width: $break-large) {
        margin: 1% 0 0 0;
      }
      .edit-label{
        padding: 4% 0 1% 2.2%;
        @media screen and (min-width: $break-large) {
          padding: 1% 0 1% 2.2%;
        }
      }
      .edit-input-full{
        width: 95%;
        margin: .5% 0 2% 2%;
        font-size: 1.5em;
        border-radius: .2em;
        @media screen and (min-width: $break-large) {
          margin: .25% 0 1% 2%;
        }
      }
      .edit-input-txtarea{
        width: 95%;
        margin: .5% 0 2% 2%;
        font-size: 1.5em;
        border-radius: .2em;
        height: 200px;
        @media screen and (min-width: $break-large) {
          height: 75px;
        }
      }
    }
    .edit-wrap-half{
      display: inline-block;
      width: 48vw;
      // border: solid thin black;
      .edit-label{
        padding: 4% 0 1% 5.2%;
      }
      .edit-input-half{
        width: 90%;
        margin: .5% 0 2% 5%;
        font-size: 1.5em;
        border-radius: .2em;
      }
    }

  }
}
